html, body {
  padding: 0;
  margin: 0; }

main {
  display: flex;
  margin-top: 5rem;
  min-height: 100vh;
  max-width: 100vw;
  width: 100%; }

.card {
  background: #fcfcfc;
  border: 1px solid #ececec;
  box-shadow: 0 1px 1px #dfdfdf;
  padding: 2rem;
  width: 100%; }

form {
  margin-bottom: 0; }

label {
  border: 1px solid #ececec;
  cursor: pointer;
  min-height: 50px;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%; }
  label > input[type=file] {
    display: none; }

button,
input[type=button],
input[type=submit] {
  box-shadow: 0 0 2px rgba(155, 77, 202, 0.35);
  transition: all 250ms linear; }
  button:hover,
  input[type=button]:hover,
  input[type=submit]:hover {
    background-color: #a661d0;
    border-color: #a661d0;
    box-shadow: 0 2px 5px rgba(155, 77, 202, 0.35);
    transition: all 250ms linear; }

.error {
  background: rgba(193, 0, 0, 0.35);
  border: 1px solid rgba(193, 0, 0, 0.5);
  padding: 1rem; }
