<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/static/milligram.css" type="text/css">
    <link rel="stylesheet" href="/static/app.css" type="text/css">
</head>
<body>

    <main>
        <section class="container">
            <div class="row">
                <div class="column">
                    <h1>404 - Page Not Found</h1>
                    <div class="card">
                        <p>Looks like you're trying to go somewhere that doesn't exist! Bummer.</p>
                        <p>Why not go <a href="{{ url_for('index') }}">back to the homepage</a> and try again?</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>
</html>
