{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="column column-33">
        <h1>Translate</h1>
        <div class="card">
            <form action="/translate" method="post" enctype="multipart/form-data">
                <div class="column">
                    <label for="file">Upload a file...
                        <input type="file" placeholder="Upload your file..." name="file" id="file">
                    </label>
                </div>
                <div class="column">
                    <input class="button-primary" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>

{% if message %}
    <div class="column column-66">
        <div class="error">
            <p>{{ message }}</p>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
