{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="column column-33">
        <h1>Translated file</h1>
        <div class="card">
            <form action="/translate" method="post" enctype="multipart/form-data">
                <div class="column">
                    <label for="file">Upload a different file...
                        <input type="file" placeholder="Upload your file..." name="file" id="file">
                    </label>
                </div>
                <div class="column">
                    <input class="button-primary" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
    {% if files %}
        <div class="column column-66">
            <h1>Results</h1>
            <div class="card">
                {% for file in files %}
                    <a class="button button-primary" href="{{ file.file }}" download>Download {{ file.ext }} file</a>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
